body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url("project\tts2.jpg"); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Add a background color with opacity */
}

.option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="url"],
textarea {
    flex: 1;
    padding: 8px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#urlInputSection,#textInputSection {
    display: none;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
